@charset "ISO-8859-1";

<!-- Mantenere footer in fondo alla pagina indipendentemente dal contenuto -->

html,body{
		height: 100%;
	}
	
	#container{
		min-height: 100%;
		height: auto !important;
    	height: 100%;
    	margin: 0 auto -50px;
	}

	#footer{
    	clear: both;
    	margin-top: 22em;
	}

	
	#buttonInvia{
		padding-top:0.2em;
		text-align: center;
		font-weight: 600;
		color: black;
		background: #F90;
		height: 35px;
		width: 150px;
		border-radius: 2em;
		cursor: pointer;
		margin: 2em 0em 5em 0em;
		-moz-border-radius: 20px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		border: solid black 1px;
		
	}
	
	#buttonReset{
		padding-top:0.2em;
		text-align: center;
		font-weight: 600;
		color: black;
		background: #F90;
		height: 35px;
		width: 150px;
		border-radius: 2em;
		cursor: pointer;
		margin: 2em 0em 5em 0em;
		-moz-border-radius: 20px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		border: solid black 1px;
	}