@charset "UTF-8";



html,body{
	height: 93%;
}
	
#container{
	min-height: 100%;
	height: auto !important;
    height: 100%;
    margin: 0 auto -50px;	
}

#footer{
   	clear: both;
   	margin-top: 0em;
}
	
#form{
	margin-right: 30em;
	margin-left: 2em;
}

#menu{
	margin-bottom: 2em;
}

@media(max-width: 600px){
	
	#form{
	margin: 0em;
	}
	
}