@charset "UTF-8";

html,body{
	height: 100%;
}

#container{
	min-height: 100%;
	height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

#menu{
	margin-bottom: 2em;
}

#tabellaRichiesteModOreario{
	width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    box-shadow: 0.1px -1px 30px -2px rgba(0,0,0,0.7);

}

.accDecButton{
	background-color: transparent;
    border: none;
	
}

#titleContainer{
	    margin: 0 auto;
    display: table;
    text-align: center;
}

#footer{
    clear: both;
    margin-top: 4em;
}

#search{
    margin-left:1em;
    margin-right: 40em;
}

@media(max-width: 600px){
	#search{
	margin: 0em;
	}
}
