@charset "UTF-8";

html,body{
	height: 100%;
}

#container{
	min-height: 100%;
	height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

#menu{
	margin-bottom: 2em;
}

#table{
	margin-top: 2em;
}

#footer{
    clear: both;
    margin-top: 4em;
}

#all{
		padding-top:0.2em;
		text-align: center;
		font-weight: 600;
		color: black;
		background: #F90;
		height: 35px;
		width: auto;
		border-radius: 2em;
		cursor: pointer;
		margin: 2em 0em 5em 0em;
		-moz-border-radius: 20px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		border: solid black 1px;
}



#search{
    margin-left:1em;
    margin-right: 40em;
}

#cerca{
	margin-left: 1em;
}

@media(max-width: 600px){
	#search{
	margin: 0em;
	}
}
