@charset "UTF-8";

html,body{
	height: 100%;
}

#container{
  height: auto !important;
  min-height: 100%;
  position: relative;
  margin: 0 auto -60px;
}
 
#footer
{
  height: 50px;
}

#menu{
	margin-bottom: 2em;
}

#table{
	margin-top: 2em;
}

#search{
    margin-left:1em;
    margin-right: 40em;
}

@media(max-width: 600px){
	#search{
	margin: 0em;
	}
}
